########################################
# Python cache files
########################################
__pycache__/
*.pyc


########################################
# Local/personal files (add as needed)
########################################
settings.json



########################################
# Local copy DB file (add as needed)
########################################
photoshow.db
